body {
    margin: 0;
    padding: 0;
}
.css-design {
    width: 94%;
}
.css-design .subtitle {
    background-color: #f7f7f9;
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    line-height: 2rem
}
.css-design a {
    text-decoration: underline;
}
.title {
    line-height: 2rem;
}